.navigation
    .navigation__list
        display: flex
        flex-direction: row
        // gap: .6em
        list-style-type: none

        .navigation__item:not(:first-child)
            border-left: 2px solid #30363d
            // background-color: red

        .navigation__item
            padding: 0 1em

            .navigation__link
                text-decoration: none

                &.active
                    text-decoration: underline

            a:hover
                text-decoration: underline
