$title-gap: .5em
$header-block-gap: .7em
$header-content-gap: 1.3em
$content-block-gap: 1.4em
$block-item-gap: .7em
$github-content-block-gap: .3em

$sub-article-header-gap: .5em
$sub-articles-beetween-gap: 1.5em

.app-content
    display: flex
    flex-direction: column
    gap: 3.5em
    //overflow-x: hidden

    .content
        display: flex
        flex-direction: column
        gap: $header-content-gap

        //  border: 3px dashed red

        .content__header
            display: flex
            flex-direction: column
            gap: $title-gap + .2em

            //border: 3px dashed blue

            .content__title

            .content__details
                display: flex
                flex-direction: column
                gap: $header-block-gap
                //border: 3px dashed black

                .content__stack
                    //border: 3px dashed red

                    ul
                        display: flex
                        flex-direction: row
                        flex-wrap: wrap
                        column-gap: 10px
                        row-gap: 5px
                        list-style-type: none

                        //border: 3px dashed red

                        li
                            font-style: italic
                            border-radius: 5px
                            background-color: red
                            padding: .15em .2em
                            margin: 0

                .content__version-control
                    //border: 3px dashed red

                    .version-control
                        display: flex
                        flex-direction: column
                        gap: $github-content-block-gap
                        //border: 3px dashed red

                        .version-control__block
                            display: flex
                            flex-direction: row

                            &:last-of-type
                                display: flex
                                flex-direction: row
                                justify-content: start

                            .version-control__block-title
                                display: inline-block
                                white-space: nowrap

                            ul
                                // list-style-type: none
                                padding-left: 1.3em
                                display: flex
                                flex-direction: column
                                gap: $github-content-block-gap

        .content__body
            display: flex
            flex-direction: column
            gap: $content-block-gap
            //border: 3px dashed yellow

            .content__block
                display: flex
                flex-direction: column
                gap: $title-gap

                //border: 3px dashed red

                .content__block-title

                .content__block-description,
                .content__sub-articles,
                .content__sub-article-container
                    display: flex
                    flex-direction: column
                    gap: $block-item-gap
                    //border: 3px dashed red

                    .content__sub-articles
                        display: flex
                        flex-direction: column
                        gap: $sub-articles-beetween-gap

                        .sub-article
                            display: flex
                            flex-direction: column
                            gap: $sub-article-header-gap

                    .content__block-media
                        display: flex
                        flex-direction: column
                        gap: $block-item-gap
                        //border: 3px dashed red

                        .content__block-image
                            width: 100%

                            //border: 3px dashed red

                        .content__block-video
                            //border: 3px dashed red

                        figure
                            img,
                            video
                                display: block
                                height: auto
                                object-fit: contain
                                margin: 0 auto

                            img

                            figcaption
                                text-align: center
                                margin-top: 10px

                    .content__block-text
                        //border: 3px dashed red

                    .content__block-code
                        position: relative

                        .content__code-header
                            // text-align: right
                            // position: absolute
                            // top: .7em
                            // right: .7em

                            .content__code-language
                                font-style: italic

                    .content__block-feature-list
                        list-style-type: disc
                        padding-left: 20px

                        .content__block-feature-item
                            margin-bottom: 5px
