// $gap-between-leftsidebar-li: .3em

$padding-top-and-down-for-active: .3em
$padding-left-and-right-for-active: .5em

$padding-top-for-sidebar: 0em
$margin-for-left-and-right: 0em

$active-selected-default-color: rgba(177,186,196,.08)

aside

    ul
        display: flex
        flex-direction: column
        list-style: none
        padding-left: 1.7em

        li

            &:last-child
                margin-bottom: 0

            a
                // color: black
                text-decoration: none

            a:hover
                text-decoration: underline

aside.sidebar-left

    ul
        padding-right: 0
        // gap: $gap-between-leftsidebar-li

        // background-color: blue
        // width: 200px
        // height: 100%
        // position: fixed
        // top: 50px // Adjust this value according to header height
        // bottom: 0

        // padding: 1em
        // margin: 0 $margin-for-left-and-right
        // padding-top: $padding-top-for-sidebar
        // list-style-type: decimal

        li
            // background-color: red
            padding: .8em .3em
            padding-left: .8em
            font-weight: 100

            &:has(.active)
                // padding: $padding-top-and-down-for-active
                font-weight: 600
                    // padding: $padding-top-and-down-for-active $padding-left-and-right-for-active
                background-color: rgba(177,186,196,.08)
                border-radius: 0 6px 6px 0

                border-left: .25em #2f81f7 solid

            .sidebar-left__link
                text-decoration: none
                // color: black

                &.active

                    // text-decoration: underline
                    // background-color: lightgray

            a:hover
                text-decoration: underline

        li:first-line
            line-height: 100% !important

aside.sidebar-right
    display: flex
    flex-direction: column
    gap: 1.5em

    position: sticky
    top: 7em
    height: fit-content

    font-size: 14px

    // background-color: red

    // text-align: justify
    // width: 200px
    // position: fixed
    // top: 50px // Adjust this value according to header height */

    // padding: 1em
    // margin: 0 $margin-for-left-and-right

    .sidebar-right__title
        font-weight: 700
        padding: 0

    ul
        padding: 0
        font-weight: 100

        li
            display: flex
            flex-direction: column

            a
                width: 100%
                padding: 4px 1px
                padding-left: .8em
                behavior: smooth

                &.active
                    font-weight: 700
                    // padding: $padding-top-and-down-for-active $padding-left-and-right-for-active
                    background-color: rgba(177,186,196,.08)
                    border-radius: 0 6px 6px 0
                    font-size: 14px

                    border-left: .25em #2f81f7 solid

            ul
                margin: 0
                padding: 0
                margin-left: 1.3em

                .sub-article
                    text-decoration: underline

            .sidebar-right__sub-list-header
                display: flex
                flex-direction: row

                .dropdown-icon
                    cursor: pointer
                    display: inline-block

                    position: relative
                    left: -1.5em

                    margin: auto 0

                .dropdown-icon.open
                    transform: rotate(180deg)

                .dropdown-icon + .sidebar-right__link
                    // Apply padding-left only to the link that follows the dropdown-icon
                    position: relative
                    left: -1em

            /* Hide sub-list when closed */
            .sidebar-right__sub-list
                display: none

                &.open
                    display: flex
